/* Roboto font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 70px 20px 70px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

a, .textone {
    font-size: 18px;
    color: #E5E7EB;
}

.right-links {
    display: flex;
    gap: 10px;
}

.lower-header {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
}

.hero {
    flex: 1;
}

.placeholder {
    flex: 1;
    background-color: rgb(100, 100, 102);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.titleone {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    padding: 5px 16px;
    border: #3882F6;
}

.footer {
    background-color: #1F2937; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;  
    color: #E5E7EB;
}

.information {
    text-align: center;
}

.titletwo {
    color: #1F2937;
    font-size: 36px;
    font-weight: 1000;
    margin: 10px 0;
}
.four {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 15px;
}

.square {
    height: 100px;
    width: 100px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 106px;
    flex-wrap: wrap;
}

.quote {
    border: 1px solid red;
    background-color: #E5E7EB;
    color: #1F2937;
    text-align: center;
}

.text {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    padding: 20px 0 10px 0;
}

.middle {
    flex: 1;
}